.transparent-white {
  background-color: #ffffff3d
}

.darkBg {
  background-color: #14181c;
}

.w-190 {
  width: 190px;
}
.h-45vh {
  height: 45vh;
}
.w-440 {
  width: 440px;
}
.h-90 {
  height: 90vh;
}
.-left-9 {
  left: -9px;
}

.top-50 {
  top: 50%;
}
.-right-9 {
  right: -9px;
}

.-translate-y-1\/2 {
  --tw-translate-y: -50% *
  translate: var(--tw-translate-x) var(--tw-translate-y);
}
.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-from, rgba(0, 0, 0, 0.8)), var(--tw-gradient-to, transparent));
}

.from-black\/80 {
  --tw-gradient-from: rgba(0, 0, 0, 0.8);
}

.to-transparent {
  --tw-gradient-to: transparent;
}

